# Secrets
.env

# Data & artifacts
data/raw/*
data/processed/*
models/*.ckpt
mlruns/

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep

# Python
__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/
